*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

header{
  height: 80px;
  width: 100%;
  background-color: rgba(255,105,0,255);
  position: fixed;
  z-index: 99;
}

header .menu{
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: white;
}

header img{
  width: 120px;
  height: 30px;
}

header nav ul{
  display: flex;
  list-style: none;
}

header nav ul li{
  padding: 10px;
}

header .icons{
  display: flex;
}

header .menu .icons i{
  padding-left: 10px;
}

main{
  padding: 80px 200px;
  text-align: center;
}

main .row .box{
  display: inline-block;
  padding: 20px 8px;
  text-align: left;
}

.box .img{
  position: relative;
}

.box .heart{
  width: 40px;
  height: 40px;
  background-color: white;
  color: #1a1a1a;
  position: absolute;
  right: 0;
  top: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.img .sconti{
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.sconti h6{
  margin-right: 2px;
}

.img .sconti .red{
  background-color: red;
  color: white;
  padding: 3px 3px;
}

.img .sconti .green{
  background-color:green;
  color: white;
  padding: 3px 3px;
}


.row .box .img img{
  width: 350px;
  height: 500px;
}

.row .box p .red{
  color: red;
}

.delete{
  text-decoration: line-through;
}

footer{
  height: 100px;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: white;
}
footer ul{
  display: flex;
  padding-top: 10px;
}

footer ul li a{
  text-decoration: none;
  color: white;
}

footer ul li{
  list-style: none;
  padding-right: 10px;
}

footer .icons{
  text-align: center;
  padding: 10px;
}

footer .icons i{
  padding-right: 5px;
}


.img .primaria{
  display: block;
}

.img .secondaria{
  display: none;
}

#prima :hover .primaria{
  display: none;
  position: relative;
}

#prima :hover .secondaria{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}